{#
/**
 * @file
 *
 * Empty cart page template.
 *
 * @ingroup themeable
 */
#}
<div class="cart-empty-page">
  {{ 'Your shopping cart is empty.<BR>If you added something to your cart and do not see it, try refreshing the page.'|t }}
</div>
