// Front

.path-frontpage,
.node-id-3859 {

  // HIDE PAGE TITLE
  h1.page-header {
    display: none;
  }

  // SLIDESHOW

  #block-views-block-slideshow-block-2 {
    //max-height: 656px;

    .slick {
      position: relative;

      .media {
        img {
          width: 100%;
          height: auto;
          @include size(lgu){
            min-height: 200px;
            max-height: 450px;
          }
        }
      }
      .slide__caption {
        position: absolute;
        top: 20%;
        left: 5%;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0px;
        font-weight: 700;
        line-height: 1;
        font-size: 12px;
        text-align: center;
        @include size(mdu) {
          font-size: 18px;
          left: 2%;
        }
        @include size(lgu) {
          left: 10%;
          letter-spacing: 2px;
        }
        @include size(xlu) {
          top: 25%;
        }
        @include size(xxlu) {
          top: 35%;
          left: 18%;
          font-size: 20px;
        }
        h3 {
          font-size: 20px;
          font-weight: 700;
          margin-top: 0;
          margin-bottom: 5px;

          @include size(mdu) {
            font-size: 40px;
            margin-bottom: 10px;
          }
          @include size(lgu) {
            font-size: 48px;
            margin-bottom: 10px;
          }
          @include size(xlu) {
            font-size: 70px;
            margin-bottom: 5px;
          }
          @include size(xxlu) {
            font-size: 80px;
          }
        }

        a {
          color: #fff;

        }
      }
    }
  }


  // PRODUCT CATEGORIES

  #block-views-block-front-product-categories-block-1 {
    margin-top: 10px;
    @include size(mdu) {
      margin-top: 10px;
    }
    @include size(lgu) {
      margin-left: -7px;
      margin-right: -7px;
    }
  }

  .view-front-product-categories {
    .masonry-item.col-lg-4,
    .masonry-item.col-md-4,
    .masonry-item.col-sm-6 {
      padding-left: 0;
      padding-right: 0;
    }
    
    .view-content {
      display: flex;
      flex-flow: row wrap;

      .views-row {
        padding: 0 3px 3px 0;
        width: 50%;
        @include size(mdu){
          width: 25%;
          padding: 0 7px;
        }
      }

      @include size(mb){
        .views-row:nth-child(1) {
          order: 1;
        }
        .views-row:nth-child(2) {
          order: 2;
        }
        .views-row:nth-child(3) {
          order: 3;
        }
        .views-row:nth-child(4) {
          order: 4;
        }
        .views-row:nth-child(5) {
          order: 6;
        }
        .views-row:nth-child(6) {
          order: 5;
        }
        .views-row:nth-child(7) {
          order: 7;
        }
        .views-row:nth-child(8) {
          order: 8;
        }
      }
    }

    .cat-item {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      //padding: 75px 70px;
      text-align: center;
      letter-spacing: 0px;
      height: 190px;
      position: relative;


      @include size(mdu) {
        font-size: 32px;
        margin: 7.5px 0;
        font-size: 14px;
        height: 200px;
        letter-spacing: 0;
        //padding: 50px 90px;
      }

      @include size(lgu) {
        //padding: 50px 80px;
        height: 240px;
        font-size: 19px;
        letter-spacing: 1px;
      }
      @include size(xlu) {
        height: auto;
        min-height: 300px;
        font-size: 26px;
        display: flex;
        flex-flow: column wrap;
        //padding: 60px 100px;
      }

      a {
        color: #fff;
        &:hover {
          text-decoration: none;
          color: darken(#fff, 15%);
        }
      }

      .image {
        position: absolute;
        transform: translateY(0%);
        bottom: 65px;
        left: 0;
        right: 0;
        @include size(mdu){
          bottom: 70px;
        }
        @include size(lgu){
          bottom: 90px;
        }

        img {
          width: auto;
          height: auto;
          max-width: 100px;
          margin: 0 auto;
          max-height: 100px;
          @include size(mdu){
            max-width: 40%;
            max-height: 190px;
          }
          @include size(lgu){
            max-width: 100%;
            max-height: 130px;
          }
          @include size(xlu){
            max-height: 190px;
          }
        }
      }

      .name {
        position: absolute;
        bottom: 10%;
        width: 100%;
      }
    }
    .bg-Gray {
      //background: radial-gradient(circle, #9198a0, #61666c);
      background: #61666c;
    }
    .bg-Blue {
      //background: radial-gradient(circle, #7ad4e8, #0094b3);
      background: #0094b3;
    }
    .bg-Green {
      //background: radial-gradient(circle, #f4f8c6, #d5e14e);
      background: #c8d447;
      a {
        color: #41555c;
        &:hover {
          color: darken(#41555c, 15%);
        }
      }
    }
  }


  // RECOGNITION TRENDS

    #block-a4u-rec-trends {
      clear: both;
      margin: 20px 0px;
      margin-top: 0;

      @include size(mdu) {
        margin: 20px 0;
        margin-top: 8px;
      }
      @include size(lgu){
        margin: 30px 0;
      }
      @include size(xlu){
        margin: 40px 0;
      }
      img {
        position: relative;
        width: 200%;
        transform: translateX(-23%);
        @include size(mdu) {
          width: 100%;
          height: auto;
          transform: translateX(0);
        }

      }
    }

  // EMAIL FORM

  .newsletter-box {
    padding: 20px 0;
    border-width: 1px;
    border-color: rgb(65, 85, 92);
    border-style: solid;
    border-radius: 0px;
    margin: 10px;
    margin-bottom: 40px;
    @include size(mdu) {
      margin: 0;
      padding: 30px 0;
      border-radius: 0px;
      margin-bottom: 49px;
    }
    @include size(lgu) {
      margin-bottom: 30px;
      padding: 20px 0;
      border-radius: 60px;
    }
    @include size(xlu){
      padding: 40px 0;
    }

    .form-type-processed-text {
      font-size: 17px;
      @include size(mdu) {
        float: left;
        width: 50%;
        font-size: 14px;
      }
      @include size(lgu) {
        font-size: 17px;
      }

      h3 {
        font-weight: 700;
        color: #000;
        letter-spacing: 2px;
        margin-top: 0;
        font-size: 23px;
        @include size(mdu) {
          font-size: 20px;
        }
        @include size(lgu) {
          font-size: 38px;
        }
      }
      
    }

    .form-type-email {
      float: left;
      width: 50%;

      .form-email {
        width: auto;
        max-width: 363px;
        background-color: #f5f5f5;
        border: 0;
        border-radius: 0;
        box-shadow: 0 0 0;
        font-size: 16px;
        padding: 35px 25px;
        @include size(mdu) {
          position: relative;
          padding: 30px 25px;
          font-size: 16px;
          max-width: 290px;
          left: 20px;
          top: 20px;
        }
        @include size(lgu) {
          padding: 55px 25px;
          max-width: 390px;
          font-size: 20px;
          top: 25px;
        }
        @include size(xlu){
          padding: 55px 25px;
        }
        &:focus,
        &:active,
        &:focus-within {
          outline: 1px solid #fff;
        }
      }
    }

    .form-actions {
      position: relative;
      @include size(lg){
        top: 25px
      }

      button {
        position: relative;
        top: 0;
        right: 0px;
        border: 0;
        border-radius: 0;
        height: 70px;
        padding: 0 20px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #d5e14e;
        letter-spacing: 1px;
        color: #61666c;
        width: 100%;
        @include size(mdu) {
          font-size: 19px;
          position: absolute;
          right: -10px;
          width: 130px;
          right: 30px;
          height: 60px;
          padding: 0 !important;
          top: 20px;
        }
        @include size(lgu) {
          font-size: 24px;
          padding: 0 40px;
          right: 10px;
          height: 110px;
          width: auto;
          top: 0;
          padding: 20px 25px !important;
        }
        @include size(xlu){
          height: 110px;
          padding: 20px 45px !important;
          top: 25px;
        }

        &:focus,
        &:active,
        &:focus-within {
          outline: 1px solid #fff;
        }
      }

    }


  }

  // Q&A AND 4TIFYING

  #secondary-content {
    margin: 0 10px;
    @include size(mdu){
      margin: 0 30px;
    }

    .region-secondary-content {
      @include size(mdu) {
        display: flex;
      }

      .block {
        @include size(lgu) {
          flex-wrap: wrap;
        }
      }

      #block-front-qa {
        background: url(../images/content_front_qa.jpg) 0 0 no-repeat;
        background-size: cover;
        min-height: 120px;
        margin-bottom: 10px;
        height: 290px;
        @include size(mb){
          width: 50%;
          background-position: 20%;
        }
        @include size(mdu) {
          min-height: none;
          background-size: cover;
          margin-bottom: 0;
        }
        @include size(lgu) {
          margin-bottom: 0;
          max-height: 250px;
          background-position: 35%;
        }
        @include size(xlu) {
          height: auto;
          background-position: center 30%;
          max-height: 412px;
        }

        .content-box {
          background-color: rgb(245, 245, 245);
          opacity: 0.749;
          color: #000;
          text-align: center;
          padding: 10px;
          
          margin-top: 100%;

          @include size(mdu) {
            padding: 20px;
            margin: 0;
            margin-top: 26%;
          }
          @include size(lgu) {
            margin: 80px;
            padding: 20px;
          }
          @include size(xlu) {
            margin: 25% 18%;
            padding: 30px 40px;
          }

          h3 {
            margin-top: 0;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0px;

            @include size(mdu) {
              font-size: 40px;
              letter-spacing: 2px;

            }
            a {
              color: #000;
            }
          }
          p {
            font-size: 16px;
            @include size(mdu) {
              font-size: 16px;
            }
            @include size(lgu){
              font-size: 24px;
            }
          }
        }

      }

      #block-front-fortifying {
        background-color: #0094b3;
        padding: 15px;
        text-align: left;
        color: #fff;
        font-size: 13px;
        @include size(mb){
          width: 50%;
        }
        @include size(mdu) {
          padding: 20px;
          text-align: center;
          font-size: 15px;
        }
        @include size(lgu){
          font-size: 15px;
          padding: 30px 20px;
        }
        @include size(xlu){
          padding: 60px 20px;
          font-size: 22px;
        }
        .field--name-body {
          @include size(lgu) {
            position: relative;
            top: 60%;
            transform: translateY(-70%);
          }
          @include size(xlu){
            top: 50%;
          }
        }
        h3 {
          font-family: BebasNeueBook, arial, sans-serif;
          color: #fff;
          margin-top: 0;
          font-size: 36px;
          text-transform: uppercase;
          margin-bottom: 5px;
          @include size(mdu) {
            font-size: 40px;
            margin-bottom: 15px;
          }
          @include size(lgu){
            font-size: 50px;
          }
          @include size(xlu){
            font-size: 80px;
          }
        }

        .content-links {
          margin-top: 40px;
          border-top: 2px solid #fff;
          padding-top: 40px;

          div {
            margin-bottom: 20px;
            @include size(mdu) {
              margin-bottom: 0;
            }
          }

          a {
            color: #000;

            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            @include size(lgu) {
              font-size: 17px;
            }
            @include size(xlu) {
              font-size: 20px;
            }
          }
        }

      }
    }
  }


  // BLOG

  #pre-footer {
    clear: both;
    background-color: #f5f5f5;
    padding: 40px 0;
    @include size(mdu) {
      padding: 30px 0;
    }

    #block-views-block-blog-block-1 {

      h2.block-title {
        letter-spacing: 1px;
        font-size: 30px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 40px;
        @include size(mdu) {
          font-size: 40px;
        }
        
      }

      .views-field-title {
        font-size: 20px;
        font-family: BebasNeueBook;
        color: #41555c;
        text-transform: uppercase;
        margin-bottom: 20px;
        line-height: 1.3;
        @include size(mdu) {
          font-size: 24px;
          margin-bottom: 10px;
        }
        @include size(lgu){
          font-size: 38px;
          margin-bottom: 20px;
        }
        @include size(xlu){
          font-size: 38px;
        }

        a {
          color: #41555c;

        }
      }

      .views-field-field-blog-image {
        margin-bottom: 0px;
        float: left;
        margin-right: 10px;
        @include size(mdu){
          margin-right: 0;
          float: none;
          margin-bottom: 20px;
        }

        img {
          width: 100%;
          @include size(mb){
            width: auto;
            height: 120px;
          }
        }
        @include size(mdu) {
          float: left;
          margin-right: 20px;
          margin-bottom: 70px;

          img {
            width: auto;
          }
        }
      }

      .views-field-body {
        color: #41555c;
        font-size: 14px;
        @include size(mdu) {
          font-size: 14px;
        }
        @include size(lgu){
          font-size: 18px;
        }
      }

      .views-row {
        margin-bottom: 30px;
        clear: both;
        

        @include size(lgu) {

        }

        &:first-child {
          @include size(lgu) {
            padding-right: 30px;
          }
        }
      }

    }
  }

}
